adapter speed 10000

source [find interface/stlink.cfg]
transport select hla_swd

# source [find interface/cmsis-dap.cfg]
# transport select swd

source [find target/stm32h7x.cfg]


# 连接到设备的方法
gdb_port 50000
telnet_port 4444
tcl_port 6666

# write image and restart target
proc download {}  {
        init
        reset init
        halt
        flash write_image erase ./build/PixShark.bin 0x08000000
        reset run
        shutdown
}
# reset target and attach to debug
proc attach {}  {
        init
        reset run
}